body{
    margin:0 ;
    padding: 0;
    background: url("hi.jpeg");
    background-size: cover;
    font-family: sans-serif;
    color: aqua;

}
.login-form{
    background-color:rgba(0,0,0, .5) ;
    width: 360px;
    height: 390px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-30%,-25%);

}
h1{
    margin: 0%;
    padding: 0;
    font-weight: bold;
    text-align: center;

}
p{
    margin: 0%;
    padding: 0%;
    font-size: 18px;
}
input{
    width: 100%;
    margin-bottom: 20px;
}
.login-form input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: burlywood;
    color: white;
    font-size: 18px;
    border-radius: 20px;

}
.login-form input[type="button"]:hover
{
background-color: unset;
color: wheat;
cursor: pointer;
}
.login-form a{
    text-decoration: none;
    color: whitesmoke;
font-size: 18px;

}
.login-form img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -60px;
    left:calc(50% - -40px); 
}